<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car price prediction</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>
<form action="/sub" method="POST">
    <h2>Predictive analysis</h2>
    <h3>What is the Showroom Price?</h3><br>
    <input id="second" name="selling_price" required="required">
    <br><button id="sub" type="submit ">Calculate the Selling Price</button>
</body>
</html>