<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Predictor</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background-image: url({{ url_for('static', filename='images/car3.jpg') }})">

    <div class="main">

        <div class="container">
        <form action="{{ url_for('predict')}}" method="POST" id="info-form" class="info-form">
            <h2>Car Predictive analysis</h2>
            <h3>Year</h3>
            <input id="first" name="Year" type="number ">
            <h3>How Many Kilometers Drived?</h3>
                <input id="third" name="Kms_Driven" required="required">
            <h3>what is the mileage of the car?</h3>
                <input id="fourth" name="mileage" required="required">
            <h3>what is the no of seats  of the car?</h3>
                <input id="fifth" name="seats" required="required">
            <h3>Engine?</h3>
                <input id="fifth" name="engine" required="required">
            <h3>Max power?</h3>
                <input id="sixth" name="max_power" required="required">
           <h3>How many owners previously had the car ?</h3><br><select id="owner" name="owner" required="required">
                <option value="First">1</option>
                <option value="Second">2</option>
                <option value="More">More than 2</option>
           </select>
           <h3>What Is the Fuel type?</h3><br><select name="Fuel" id="fuel" required="required">
               <option value="Petrol">Petrol</option>
               <option value="Diesel">Diesel</option>
               <option value="LPG">LPG</option>
               <option value="CNG">CNG</option>
           </select>
           <h3>Are you A Dealer or Individual</h3><br><select name="Seller_Type_Individual" id="resea" required="required">
               <option value="Dealer">Dealer</option>
               <option value="Individual">Individual</option>
               <option value="TD">Trustmark Dealer</option>
           </select>
            <h3>Transmission type</h3><br><select name="Transmission_Mannual" id="research" required="required">
                <option value="Mannual">Manual Car</option>
                <option value="Automatic">Automatic Car</option>
            </select>
        <div class="form-submit">
            <input id="submit" class="submit" type="submit" name="submit" value="Calculate the Selling Price" />
        </div>
            <h1 style="color: green">{{ prediction_text }}<h1>
        </form>
     </div>

    </div>

    </div>
   

</body>

</html>